<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit an Appointment</title>
    {% load static %}
    <link rel = "stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    <div>
        <h1>Edit an appointment</h1>
        <a href='/user/logout'>Log Out</a>
        <br><br>
    </div>

    <div>
        <form method="post">
            {% csrf_token %}
            <label for='task'>Task: </label>
            <textarea name="task" >{{appointment.task}}</textarea>
            <br><br>
            <label for='date'>Date: </label>
            <input type='date' name='date' value={{date}}>
            <br><br>

            <p>Status:</p>
            <select name='status' selected={{appointment.status}}>
                <option value ='-1'>Please select an Status</option>
                {% ifequal appointment.status "Pending" %}
                    <option value='Pending' selected="selected">Pending</option>
                {% else %}
                    <option value='Pending'>Pending</option>
                {% endifequal %}
                <option value='Missed'>Missed</option>
                <option value='Done'>Done</option>
            </select>
            <br><br>
            <button>Update</button>
            <br><br>
        </form>

        <form action='/user/appointments' method="post">
                {% csrf_token %}
                <button>Cancel</button>
        </form>
        
    </div>


    <div>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
    </div>

</body>
</html>